<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LiftLog</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
  <header>
    <nav>
      <!-- TODO: Logo -->
      <h1>LiftLog</h1>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer>
    <h3>
      <a href="">Contact Us</a>
    </h3>
    {{!-- <ul>
      <li>Contact Us</li>
    </ul>
    {{#if loggedIn}}
    <button id="logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}} --}}
  </footer>
</body>
</html>