{{!-- profile page content --}}
<section>
    <h2>Accomplishments</h2>
    <ul>
        <li>Exercises Completed: </li>
        <li>Goals Met: </li>
        <li>Est. Calories Burnt: </li>
    </ul>
</section>

<section>
    <h2>Scheduled Exercises</h2>
    {{!-- Add a scroll list with sections that display Date, Time, and exercise title with a button to mark complete --}}
</section>

<section>
    <h2>Goals</h2>
</section>