<div>
    <input type="date" />
    <input type="time" />
    <label for="exercise-search">Search for an Exercise</label>
    <input id="exercise-search" type="search" list="exercise-list"/>
    <button>Schedule an Exercise</button>
</div>

<div id="exercise-list" type="hidden">
    {{!-- need to put list from api exercise_name --}}
</div>